[2018-03-08 06:49] shahidhk opened #1 "add sshd with dockerfile"

[2018-03-08 11:31] #1 closed, assigned to nobody

[2018-03-08 11:58] ecthiender opened #3 "Remove Hasura specific instructions from pre-receive hook"
Current pre-receive hook has Hasura specific instructions: https://github.com/hasura/gitkube/blob/master/sshd/pre_receive.sh#L185

[2018-03-08 17:10] shahidhk opened #4 "basic e2e test"

[2018-03-09 06:57] tirumaraiselvan opened #5 "Sync gitkubed also"
Currently, sync happens on remotes.

For consistency, we should sync gitkubed (service and deployment) also

[2018-03-09 07:33] tirumaraiselvan opened #6 "Schema validation for Remote resource"
https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation

[2018-03-10 12:15] tirumaraiselvan opened #9 "sshd server signature should be generated and mounted"

[2018-03-11 07:45] #5 closed, assigned to tirumaraiselvan

[2018-03-11 17:18] shahidhk opened #13 "controller doesn't catch remotes crd being deleted when its running"

[2018-03-12 11:29] #4 closed, assigned to shahidhk

[2018-03-13 03:36] shahidhk opened #16 "get different version for gitkubed (other than controller)"

[2018-03-13 08:37] #16 closed

[2018-03-13 08:47] dsandip opened #19 "Add git push support for all apps (daemonset, statefulset)"
Support for `git push` based deployments is currently limited to `deployments`. This should be extended to:
- [ ] `daemonset`
- [ ] `statefulset`

[2018-03-13 09:00] dsandip opened #20 "Support integration for other git hooks"
Currently, only pre-push and pre-receive hooks are supported. This should be extended to other hooks like post-push, etc.

[2018-03-13 15:57] tirumaraiselvan commented on #3
Fixed

[2018-03-13 15:57] #3 closed

[2018-03-13 16:06] dlorenc commented on #19
Hey,

Skaffold maintainer here (github.com/GoogleCloudPlatform/skaffold). We're tackling some of these same problems, and after a quick check it seems like we might be able to help out here.

Skaffold supports arbitrary Kubernetes resources in a CI/CD system by focusing on the "application" mechanism rather than the resources themselves. We currently support Helm and kubectl apply, but will be add

[2018-03-13 18:06] tirumaraiselvan commented on #19
Hey @dlorenc

Very interesting. We should definitely talk! You can reach out to me at tiru-AT-hasura.io

[2018-03-14 07:58] techdragon opened #22 "Slow the animated gif a little."
Its useful, but there are some parts that move very quickly. Perhaps its worth remaking/editing it to run a little slower so its easier to take in each of the steps.

[2018-03-15 09:34] tirumaraiselvan commented on #22
Done.

[2018-03-15 09:34] #22 closed

[2018-03-15 09:52] tirumaraiselvan opened #23 "Write godocs"

[2018-03-15 11:35] tirumaraiselvan opened #24 "Helm integration"
Package Gitkube as Helm chart

[2018-03-15 21:47] coco98 opened #25 "List out key features, esp. in comparison to similar tools"
Features:
- Public key based auth
- No assumptions about directory structure (configure dockerfile path)
- Rollout deployments in any namespace
- Easy to fork and customise

[2018-03-15 22:01] coco98 opened #26 "List out supported kubernetes vendors or provide instructions for different kubernetes vendors"
Mention specifically what kubernetes distros this works with. I've received lots of questions about whether it works on GKE or not.

[2018-03-16 02:04] marcellodesales opened #27 "Deploy Helm Apps"
# Requirement

* Given a the deployment model, specify a Helm Application to be deployed.

# Design

* Identify the type of ingress instance the cluster contains
  * Use default `ingress nginx`
  * This provides a default ingress to the cloud provider
* Identify if the cluster has `tls secret`
  * This provides HTTPS access to the service
* Identify if the cluster has `external-dns `
  * This prov

[2018-03-16 02:08] marcellodesales commented on #25
You could add #27, [Helm Apps](https://hub.kubeapps.com/), which falls into the same category... Ease of use.

[2018-03-16 02:10] marcellodesales commented on #19
Correct link is... [https:///github.com/GoogleCloudPlatform/skaffold](https:///github.com/GoogleCloudPlatform/skaffold)

Learning and I'd like to help in both areas!

[2018-03-16 07:26] 0x777 commented on #27
Currently, gitkube simplifies this workflow
[code]

with
[code]

What is your current workflow with a kubeapps application and how do you like to see it automated?

[2018-03-16 09:25] tirumaraiselvan opened #28 "Improve e2e test"
Currently, the e2e test fails when the following two resources already exist:
[code]
For the CRD, we just need to ignore the error an d for clusterrolebindings we need to create a test name.

[2018-03-16 09:34] tirumaraiselvan opened #29 "e2e teardown should not delete crd and clusterrolebinding"
Tests should not affect cluster level resources.

[2018-03-16 10:53] tirumaraiselvan commented on #23
https://github.com/hasura/gitkube/pull/30

[2018-03-16 10:53] #23 closed

[2018-03-16 11:33] tirumaraiselvan commented on #29
Also see https://github.com/hasura/gitkube/issues/28

[2018-03-16 11:33] tirumaraiselvan commented on #28
Also see https://github.com/hasura/gitkube/issues/29

[2018-03-16 14:26] tirumaraiselvan opened #33 "Add install instructions for various K8s vendors/distributions"
Gitkube runs on most Kubernetes distributions/vendors as is. But in some cases, there may be more configuration required to correctly setup for e.g. exposing the gitkubed service may require configuring a Loadbalancer manually.

We need to document the instructions for various vendors like GKE, Rancher, kops based installations, etc. In most cases, the instructions should be default instructions a

[2018-03-16 14:37] tirumaraiselvan opened #34 "Who's using Gitkube?"
Hi

This issue is to track users who are using Gitkube either for hobby projects or inside an organisation. The intent is to get feedback and also showcase them on the website.

[2018-03-17 10:58] tirumaraiselvan commented on #26
Gitkube will work with most distros as is because of no external dependency. We have mentioned this in the README now.

Refer to https://github.com/hasura/gitkube/issues/33 for tracking any non-standard setup requirements.

[2018-03-17 10:58] #26 closed

[2018-03-17 11:01] tirumaraiselvan commented on #25
Key features have been listed in https://github.com/hasura/gitkube/tree/master#features . Keeping this issue open for further addition of comparisons with other tools, etc

[2018-03-20 12:57] tirumaraiselvan opened #35 "Deploy to a different cluster"
Currently, gitkube deploys to the same cluster where it is running. We should provide support for deploying it to a different cluster.

[2018-03-21 22:10] adrianog commented on #33
Any particular word of advice for openshift?

[2018-03-21 22:33] coco98 commented on #33
@adrianog Well these are the commands that you would need to run on openshift? Do you foresee that they would run as is on an openshift kubernetes cluster?

[code]
This command will create k8s objects in the `kube-system` namespace.

[code]
This command will expose the deployment on a public IP.

If you can do these 2 things, things should work for you. If you can try them out, please let us know

[2018-03-24 12:00] sdileep opened #36 "Expose gitkube as NodePort type"
I'm trying to experiment with gitkube on a local cluster(not minikube) and hence exposed it as NodePort type service. After creating a remote as per [example](https://github.com/hasura/gitkube-example), I am not able to retrieve the remote URL using `$ kubectl get remote example -o json | jq -r '.status.remoteUrl`. Am I missing something?

ps: the example worked on GCE without any issues.

[2018-03-24 15:35] shahidhk commented on #36
@sdileep Can you paste the `kubectl` command you used to expose gitkube and the the output of `kubectl get remote example -o yaml` here?

[2018-03-24 17:00] coco98 commented on #36
@shahidhk Once we help @sdileep out, let's add instructions for minikube to our docs too!

[2018-03-24 23:40] sdileep commented on #36
@coco98 This is not a minikube environment(specified it on the query). I'm running a couple VMs using VirtualBox and Vagrant. The VMs are on a private network with static IP addresses assigned to them. The cluster was created with `kubeadm` and kube-dashboard & a sample service for nginx are up and running fine on the cluster

@shahidhk The command that I used was `kubectl --kubeconfig <path_to_co

[2018-03-25 02:17] shahidhk commented on #36
@sdileep Can you try setting this remote manually?

`$ git remote add example ssh://default-example@<any-node-id>:<node-port>/~/git/default-example`

Also, it'll be helpful if you can paste relevant log lines from `gitkube-controller` so that we could figure out a fix?

NodePort service objects does not have an external ip field in the spec. Hence gitkube might not be able to figure out the IP. Bu

[2018-03-25 05:50] tirumaraiselvan commented on #36
`kubectl get remote example -o yaml` should have had `status` section. The `status` will have a `remoteUrlDesc` which would tell you to add remote manually since it is of type NodePort. This should be fixed by https://github.com/hasura/gitkube/pull/37

Apart from this, as @shahidhk  mentioned, we do not have the external ip for nodeport service in the service object. We can work around this by goi

[2018-03-25 10:17] sdileep commented on #36
@shahidhk The logs from the controller are as follows:
[code]
Logs from gitkubed are as follows:
[code]
^^ those logs seems to keep repeating for every 4th port

And on the client side, I get the following error:
[code]

[2018-03-25 11:07] #36 closed

[2018-03-25 12:37] sdileep opened #38 "Support for secret type .dockerconfigjson"
First push of gitkube-example on to my local cluster went through fine so I thought of pushing an update and realised that I need to setup the registry to get it working. So, I created a kube secret, with name regsecret, for docker following the instructions on the link in the README of gitkube-example and updated the registry of the example remote to be:
[code]
Now when I try to push to the examp

[2018-03-26 07:01] tirumaraiselvan commented on #38
I think you hit the recent change in kubectl (v1.9) of docker-secret type. This creates a secret of type `.dockerconfigjson` as opposed to `.dockercfg`.  Unfortunately, these types are not compatible with each other.  So replacing the key will not work. For some reason, this breaking change was actually approved https://github.com/kubernetes/kubernetes/pull/53916

For gitkube, we will have to crea

[2018-03-26 09:01] shahidhk opened #39 "Build images with genuinetools/img"
It will be awesome of gitkube can integrate with something like `img` so that images can be built without mounting the docker sock.

ref:
https://github.com/genuinetools/img
https://blog.jessfraz.com/post/building-container-images-securely-on-kubernetes/

[2018-03-29 06:58] marcellodesales commented on #27
@0x777 So, kubeapps offers a way to deploy a [Helm Application](https://hub.kubeapps.com/) from a given [Helm Chart Registry](https://github.com/kubernetes/helm/blob/master/docs/chart_repository.md). Given that and your workflow, what I was thinking is that we could do the following:

[code]

Still should guarantee what gitkube does already, but for Helm Apps, as follows:

1. Identify if there's a

[2018-04-04 07:53] tirumaraiselvan opened #46 "Instructions for minikube"
Add docs/minikube.md for instructions specific to minikube

[2018-04-04 07:54] tirumaraiselvan opened #47 "Instructions for different docker registries"
Add docs/registry.md with instructions on how to create docker-secret for different registry providers like dockerhub, gcr, quay, etc

[2018-04-04 11:08] tirumaraiselvan opened #48 "Templating for git hooks"
Currently, pre-receive hook is fixed: https://github.com/hasura/gitkube/blob/master/build/gitkubed/pre_receive.sh

We want to make it scriptable to enable : https://github.com/hasura/gitkube/issues/20

Each hook probably needs variables from the remote like DEPLOYMENTS, REGISTRY_PREFIX.
For pre-receive, we are currently doing a moustache render during startup.

For giving same variables to each ho

[2018-04-04 17:53] rusucosmin commented on #34
I'm using it for my side project https://recruitt.me. I find it very useful, basically having a Heroku-like deployment.
Is it any way we can have a slack notification every time a deployment starts, succeeds or fails? That would be a cool feature to have.

[2018-04-11 13:11] dsandip opened #49 "Info needed on min. node config (at least on GKE)"
`gitkubed` pods are `unschedulable` on a low config node on GKE (g1-small: 1 vCPU, 1.70 GB ).

![screen shot 2018-04-11 at 6 31 11 pm](https://user-images.githubusercontent.com/24300818/38618415-36893054-3db7-11e8-8b27-846951a22ed0.png)

Works like a charm on the next available config. Add information about the min. node config needed.

[2018-04-12 10:48] tirumaraiselvan commented on #38
Fixed in https://github.com/hasura/gitkube/pull/45

[2018-04-12 10:48] #38 closed

[2018-04-30 06:06] jsierles commented on #48
Would this also allow something like using a secret as a Docker build argument? For example, now I need to pass a Github token to a Dockerfile for fetching Github repos during the build. I can get the secret into Gitkubed's environment, but I see there is no way to pass a build argument currently.

[2018-04-30 11:15] coco98 commented on #48
@jsierles Yep. You can then load the build argument from the kubernetes environment

[code]

and then pass that as a build-arg to the docker build command.

@tirumaraiselvan Does that make sense?

[2018-04-30 11:43] tirumaraiselvan commented on #48
Yes, this issue is to make available arbitrary params to the build environment which can then be used in custom hooks. Custom hooks is in a WIP branch although I haven't gotten around to parameterization part yet. For now, the easiest way is to keep in the Dockerfile. The harder way is to fork from master and build your own version of Gitkube.

[2018-05-02 10:59] disha94 commented on #33
Trying to setup gitkube with minikube, but while creating the remote, I am getting this error:
Error from server (Timeout): error when creating "remote.yaml": Timeout: request did not complete within allowed duration

[2018-05-02 12:45] tirumaraiselvan commented on #33
@disha94 which version did you have the issue with and which issue fixed it for you? We have docs/minikube.md where we can mention this.

[2018-05-02 14:51] disha94 commented on #33
@tirumaraiselvan So I think it was from my side, gitkube support is only after v1.8.7 of kubernetes and I had a older version (1.8.0) in my minikube. Upgrading the kubernetes version in minikube fixed the problem.

[2018-05-03 12:07] arun-gupta opened #57 "Instructions for Docker for Desktop"
Show how gitkube workflow works with Docker for Desktop

[2018-05-03 12:13] shahidhk opened #58 "Remove $ from code blocks"
Makes it easier to copy

[2018-05-03 12:25] arun-gupta commented on #47
Add support for Amazon Elastic Container Registry

[2018-05-03 12:31] arun-gupta opened #59 "Add an option to enable local Docker registry"
Add an option that allows to setup a local Docker registry in the cluster. This allows a simpler workflow OOTB.

[2018-05-03 12:32] arun-gupta opened #60 "Add instructions on how Docker secret need to be configured"
Add instructions on how Docker secret need to be configured in the k8s cluster:

[code]

[2018-05-04 11:02] tirumaraiselvan commented on #58
https://github.com/hasura/gitkube/pull/61

[2018-05-10 11:05] tirumaraiselvan commented on #59
I think it will be a nice add-on to give a test docker registry in-built. Although, the user may still need to configure persistent volume for the registry. So the question becomes, is that really a simpler workflow?

@coco98 @shahidhk

[2018-05-10 11:06] tirumaraiselvan commented on #49
@dsandip Will you please add the docs/gke.md ?

[2018-05-10 11:08] tirumaraiselvan commented on #47
Dockerhub and GCR added through https://github.com/hasura/gitkube/pull/61

[2018-05-14 05:54] coco98 opened #62 "Add docs for monorepo / multirepo organisation structure"

[2018-05-14 05:55] coco98 opened #63 "Add docs for different types of push use-cases"
Push master
Push a test branch
Best way to use this with different kinds of git patterns: https://www.atlassian.com/git/tutorials/comparing-workflows

[2018-05-16 10:46] tirumaraiselvan commented on #48
@jsierles docker build args support is here https://github.com/hasura/gitkube/pull/64

[2018-05-16 14:37] RameshMuthuraj opened #65 "Is it support AWS EKS ?"
Is this support for AWS EKS service?

[2018-05-17 02:09] tirumaraiselvan commented on #65
Yes. It works out of the box on EKS.

[2018-05-17 02:09] #65 closed

[2018-05-24 02:53] tirumaraiselvan opened #68 "Integrate with ECR"
ECR currently does not automatically create repositories on push unlike docker hub. How (where) should we handle this logic ?

[2018-05-24 02:53] tirumaraiselvan commented on #47
Refer this issue for ECR: https://github.com/hasura/gitkube/issues/68

[2018-05-24 02:55] tirumaraiselvan commented on #68
One way is to ask the repo in gitkube CR and use tags instead of repositories i.e.

`tirumarai/test:247ff5` (dockerhub) becomes

`tirumarai:test-247ff5` (ecr)

[2018-05-25 06:36] shahidhk commented on #68
How easy is it to create the registry? Provided the cluster has required IAM to do so?

[2018-05-25 06:43] coco98 commented on #68
I don't know enough about this problem, but for now we should just have
documentation that can be a manual step.
I think all these problems will go away in the months to come anyway. So we
should definitely not try to solve it from inside gitkube or the gitkube
CLI.

--
Tanmai

On Thu, May 24, 2018 at 11:36 PM Shahidh K Muhammed <
notifications@github.com> wrote:

[2018-05-25 06:52] tirumaraiselvan commented on #68
It is either an HTTP call or aws cli. Either way it breaks the current pattern and proves an exception (till now). If we come up with some other registry which also has the same problem then we need to think about solving the problem more generally. I guess for the time being we can make it a manual step.

[2018-05-25 07:52] nizar-m commented on #68
Also the authentication to the AWS container registry lasts only for 12 hours. You have to keep renewing the docker credentials. Something like [this cronjob](https://medium.com/@xynova/keeping-aws-registry-pull-credentials-fresh-in-kubernetes-2d123f581ca6) will have to be run to keep the imagePullSecret renewed.

[2018-05-25 07:54] tirumaraiselvan commented on #68
@nizar-m Yes, but that is clearly out of the scope of gitkube.

[2018-05-25 08:49] nizar-m commented on #68
Docker push will fail.

[2018-05-25 16:59] scottrobertson opened #71 "Deployment Update Flow"
Hey

Just wondering what the best workflow is for when i need to update a deployment without wiping out the image? Right now i need to call:

[code]

Copy the whole `image` into into my deployment.yaml file, and then i can do `kubectl apply`

Basically my question is: is there a better way to handle all of this, and to make it play nice with gitkube?

[2018-05-25 20:48] shahidhk commented on #71
@scottrobertson You're just in time with this question. We just released `v0.2.0` and ti supports such workflows.

You can set
[code]
in your Remote Spec and when you push to the remote now, all kubernetes yaml files in `k8s` directory of your git repo will be `kubectl apply`-ed.

So, if you want to update a deployment, make the change, commit and push and gitkube will take care of building and se

[2018-05-25 20:50] scottrobertson commented on #71
That looks awesome thanks! It will work really nicely for most of my projects 👍

However, for some projects it wont work (specifically open source projects that i do not want to push Kubernetes configs to). I will have to try and think of a way around this without having to copy the image every time i want to update things.

[2018-05-25 21:10] shahidhk commented on #71
k8s conf is kept separate from code and you need to update the conf, right?

A `kubectl apply` flag that can ignore certain fields (`image`) would have been awesome.

[2018-05-25 21:20] shahidhk commented on #71
@scottrobertson Another way to solve this issue is to make the controller watch all the deployments that it is responsible for and when the `image` key changes (say from a `kubectl apply`), it goes and patch the deployment with latest build tag.

Now, controller will need to track that latest build tag, which can be done by adding a new key to the Remote's status.

[2018-05-25 21:26] shahidhk opened #73 "Track latest build tag and patch when image changes for deployments"
As mentioned in #71, sometimes a user might need to update the deployment (say `kubectl apply`) and when it happens, the image name is overwritten.

The controller needs to keep track of latest build tags for deployments in each remote.

When any of these deployments' `image` field gets updated, controller can patch it to the latest build tag.

So, whenever a new build happends, a relevent key sho

[2018-05-25 23:05] coco98 opened #74 "Add support for docker-compose"
Can we add support for docker-compose via docker stack?
That way we would have:
1) Kubernetes manifests
2) Helm
3) Docker-compose

1, 3 are idea for developers.

`docker stack deploy` is pretty much exactly like `helm install`. Uses a compose.yaml instead of Helm charts.
https://docs.docker.com/engine/reference/commandline/stack_deploy/#description

[2018-05-26 17:36] scottrobertson opened #75 "Docs on how to update"
Now that 0.2.0 is out, how do people upgrade?

I just uninstalled it and installed again, but that resulted in my LB ip changing.

[2018-05-26 18:35] shahidhk commented on #75
Here are the steps to update. Will add it to docs:

[code]

[2018-05-27 16:26] shahidhk opened #76 "[cli] generate: ask if deployments are present"
To handle multi-repo configurations, prompt if deployments are present or not.

[2018-05-28 06:26] shahidhk opened #77 "[e2e] update tests to use gitkube cli"
Tests can use gitkube cli to install and uninstall as well as manage remotes.

[2018-06-04 14:43] shahidhk opened #78 "[gitkubed] Goes to CrashLoopBackOff on Docker for Desktop"
`start_sshd.sh` script needs some modifications due to the difference in ownership of `docker.sock` on Docker for Mac.

State of Gitkube on Docker for Windows in unknown. Any help in identifying the status is appreciated.

[2018-06-16 02:18] gaui commented on #62
Yes please. How would this work?

[2018-06-16 03:07] tirumaraiselvan commented on #62
@gaui Few examples for both mono and multi repo organizations are given here: https://github.com/hasura/gitkube-example

[2018-06-21 14:56] tirumaraiselvan opened #80 "Helm apply does not work on AKS"
I am getting this error in AKS but not in GKE.

[code]

Opened issue with upstream: https://github.com/kubernetes/helm/issues/4254

[2018-06-22 06:49] tirumaraiselvan commented on #80
Fixed: https://github.com/Azure/AKS/issues/459

[2018-06-22 06:49] #80 closed

[2018-06-25 17:14] naseemkullah opened #83 "Cannot generate multiple gitkube remotes on a given cluster using gitkube cli."
Because it errors out on creating an already existing docker-registry secret.

`FATA[0036] generating remote failed: error creating docker-registry secret: secrets "regsecret" already exists`

[2018-06-25 17:41] tirumaraiselvan commented on #83
@shahidhk can we name the regsecret as {remote-name}-regsecret to avoid collision?

@naseemkullah For the time being, you can ignore creating the docker secret through the cli (choose the third option), and then create a docker secret manually  ( https://github.com/hasura/gitkube/blob/master/docs/registry.md) and add it to your remote.yaml

[2018-07-02 07:29] sr229 opened #84 "[Feature Request] Auto-detect base image to use if no Dockerfile is found"
## Summary

In layman's terms: It should be able to allow developers to `git push` to a gitkube-enabled cluster without a Dockerfile - or so called the "Heroku-style" deployment.

## Intro

Heroku's architecture is composed of a dedicated builder for the source, where your project requires a `Procfile` to determine processes to execute, and a declarative app manifest that includes all the required

[2018-07-04 13:00] tirumaraiselvan opened #85 "Upgrade client-go"
This will support `credentials plugin` (useful for EKS authentication):

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins

[2018-07-12 02:26] scriptonist opened #86 "ImageInspectError on installing gitkube (gitkube install) on minikube"
### Environment ?
[code]
[code]

### What did I do?
`gitkube install`

### What I Expected to see?
Gitkube running peacefully

### What did I see instead?
[code]
[code]

[2018-07-12 09:03] tirumaraiselvan commented on #86
Hmm weird. What version of docker are you running? Which OS?

[2018-07-12 11:37] scriptonist commented on #86
[code]
[code]
[code]

[2018-07-12 11:42] tirumaraiselvan commented on #86
Image inspect errors seem to be caused due to the runtime and not the container per se. Do you mind updating minikube to the latest version (0.28) and trying this out?

[2018-07-12 12:18] scriptonist commented on #86
It seems there are no problems. :peace_symbol:
[code]
[code]

[2018-07-16 02:31] #86 closed

[2018-07-23 16:50] majodev opened #87 "groupadd: Not a valid group name"
Hi,

It seems like naming a remote is subject to certain limitations as `groupadd` is executed ([potentially 32chars?](https://unix.stackexchange.com/questions/11477/what-are-the-allowed-group-names-for-groupadd)).

**Example**

[code]

[code]

Is there any way to overwrite the computed `my-really-really-really-long-ns-app-remote` identifier so groupadd can run through?

[2018-07-23 17:03] tirumaraiselvan commented on #87
Yeah, I suppose there will be a problem with really long `ns + remote` names. Good catch. Maybe we can use some hash to represent (the user and groups) internally. I will send a fix soon.

[2018-07-25 16:38] majodev commented on #73
Hi, I also think automatically tagging with `latest` or another label (e.g. the name of the branch that was pushed) would be the most convenient workaround for these cases.

[2018-07-27 06:40] #83 closed

[2018-07-27 06:41] #78 closed

[2018-07-29 15:03] sunfmin commented on #33
[code]

`https://storage.googleapis.com/gitkube/gitkube-setup-stable.yaml` seems not accessible.

[2018-07-30 12:12] linuxshokunin opened #89 "Is there a way to only build docker image, no deployment?"
Hi,

I'm new to gitkube. I'm trying to find a way to build docker images and push it to private registry only, without deploying pods in k8s cluster. Is there an option for that or is it even possible?

[2018-07-30 12:19] tirumaraiselvan commented on #89
Unfortunately, not at the moment. Maybe we can have a `dryRun` flag in the `deployment` section of the `remote`.

This is quite easy to implement. Any takers?

[2018-07-30 14:51] linuxshokunin commented on #89
Great. We have ci/cd pipelines in jenkins but I didn't want to mount /var/run/docker.sock on jenkins instances.

[2018-08-08 08:01] sunfmin commented on #33
@arvi3411301 Yes it works. I tried gitkube successfully on my local Docker for desktop kubernetes. It works great.

[2018-08-24 05:13] blopker commented on #84
Dokku uses https://github.com/gliderlabs/herokuish to run the build packs. Could be an interesting combination with this project.

[2018-09-02 09:48] fabiodouek opened #90 "Issue to install gitkube on EKS"
When I run gitkube install, I'm getting the following error:

FATA[0000] installing gitkube failed: error creating CustomResourceDefinition: customresourcedefinitions.apiextensions.k8s.io is forbidden: User "system:anonymous" cannot create customresourcedefinitions.apiextensions.k8s.io at the cluster scope

[2018-09-02 09:55] tirumaraiselvan commented on #90
Yes, this is a known issue: https://github.com/hasura/gitkube/issues/85

There are 2 workarounds:
1) Create a new kubeconfig which is a proxy of the original one.
[code]

And, then start the proxy:
[code]
Keep this proxy running and in a new shell use this kubeconfig by default.

[code]

Now, `gitkube` cli should work.

2) The second way is to not use `gitkube` cli but directly use `kubectl` but t

[2018-09-03 12:08] fabiodouek commented on #90
Thanks @tirumaraiselvan , I tried that approach, but I getting the following error when I run: gitkube install

FATA[0000] installing gitkube failed: error creating CustomResourceDefinition: an error on the server ("") has prevented the request from succeeding (post customresourcedefinitions.apiextensions.k8s.io)

[2018-09-24 10:17] luigi-riefolo commented on #85
any update on this?

[2018-09-24 11:17] tirumaraiselvan commented on #90
I am sorry. I have been very busy. I will fix this issue properly through this : https://github.com/hasura/gitkube/issues/85

[2018-09-24 11:17] tirumaraiselvan commented on #85
Thanks for bumping this. I plan to fix it this week.

[2018-09-24 11:23] tirumaraiselvan opened #91 "Document kubectl instructions"
Seems like after gitkube cli was launched, all instructions are based on the cli.

[2018-09-25 22:31] mandarku commented on #33
I am seeing these errors..

Error from server (BadRequest): error when creating "https://storage.googleapis.com/gitkube/gitkube-setup-stable.yaml": ClusterRoleBinding in version "v1" cannot be handled as a ClusterRoleBinding: no kind "ClusterRoleBinding" is registered for version "rbac.authorization.k8s.io/v1"

unable to recognize "https://storage.googleapis.com/gitkube/gitkube-setup-stable.yaml":

[2018-09-26 09:29] tirumaraiselvan commented on #33
@mandarku Could you please specify additional details like which Kubernetes version, which provider (if any), etc. You may want to open a new issue just for this.

[2018-09-26 17:05] mandarku commented on #33
kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.8", GitCommit:"d74e09bb4e4e7026f45becbed8310665ddcb8514", GitTreeState:"clean", BuildDate:"2017-08-03T18:12:08Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}

I read above gitkube is supported 1.8 onwards?

[2018-09-26 17:43] tirumaraiselvan commented on #33
@mandarku  Yes, as the error suggest your K8s version does not have the APIs like ClusterRoleBinding or CustomResourceDefinition (or have it in a different api group). Hence, gitkube works only 1.8+

[2018-10-06 11:06] aaparmeggiani opened #92 "Multi-stage builds ?"
Hi there, are multi-stage builds supported/planned? (or am I  missing something??)
[code]
--
[code]
Thanks in advance,
Andre

[2018-10-06 11:28] aaparmeggiani commented on #92
Hmm .. needs docker >= 17.05

[2018-10-12 14:02] pdomagala commented on #59
@arun-gupta Have you tried setup gitkube with local docker registry in your cluster? Have you had any problems with this? I can't manage with SSL on it.

[2018-10-15 08:31] tirumaraiselvan commented on #85
@prateekpandey14 Super cool! I have been super busy and this is a high priority issue. Thanks for taking it up!

[2018-10-15 08:39] prateekpandey14 commented on #85
I can see gikube uses `glide`. As all the go tooling uses `dep` for dependency management should we use `dep` instead of `glide` ?

[2018-10-15 08:41] tirumaraiselvan commented on #85
@prateekpandey14 Feel free to use dep.

[2018-10-15 12:45] tirumaraiselvan commented on #92
I guess we need to update https://github.com/hasura/gitkube/blob/master/build/gitkubed/Dockerfile . Any takers?

[2018-10-19 09:08] tirumaraiselvan commented on #59
@pdomagala Do you mean not specifying a remote docker registry? If so, that means it would work only for a single node cluster.

[2018-10-21 03:56] ssiddhantsharma commented on #77
@shahidhk I am taking this up! Can you explain the issue in more detail

[2018-10-24 15:13] #85 closed

[2018-10-26 14:13] #60 closed

[2018-10-26 15:32] SeanPrashad commented on #92
Hey @tirumaraiselvan! I'd like to give this a shot. Would we need to update:

https://github.com/hasura/gitkube/blob/23fc06b7f17f4370c5b4e74ee324b7c17a03c5be/build/gitkubed/Dockerfile#L7

to be ` && curl -o /tmp/docker-1.12 'https://get.docker.com/builds/Linux/x86_64/docker-1.17.05.tgz' \ `

and the associated lines that reference `/tmp/docker-1.12`?

[2018-10-26 15:34] tirumaraiselvan commented on #92
@SeanPrashad yes, that should be enough.

[2018-10-30 11:28] tirumaraiselvan commented on #77
@ssiddhantsharma Yes!

Basically, currently gitkube is installed via kubernetes manifest files. Same for remotes. We have a gitkube cli tool to do the same work.

We should have tests which do the exact same thing currently with gitkube cli as well. Basically a copy of `e2e/test.bash` with gitkube cli commands instead of kubectl commands.

[2018-11-03 13:40] #92 closed

[2018-11-13 10:03] tirumaraiselvan commented on #90
This i now RELEASED in v3.0.0 . Just reinstall gitkube cli again.

`curl https://raw.githubusercontent.com/hasura/gitkube/master/gimme.sh | sudo bash`

[2018-11-13 10:03] #90 closed

[2018-11-16 13:19] vanhumbeecka opened #104 "remoteUrl not created"
I'm following the examples (mono-repo) from gitkube for trying this out. After setting all parameters in a remote.yaml file, I cannot seem to generate a remote git url.
The process of ```gitkube remote create -f remote.yml``` just keeps hanging for a while, and then completes without a remoteUrl or error response. Checking the status also yields empty strings for remoteUrl and remoteUrlDesc.

I'm

[2018-11-16 13:44] tirumaraiselvan commented on #104
@vanhumbeecka What is the gitkube version ? `gitkube version`

Also can you see if gitkubed svc has a proper loadbalancer ip ? `kubectl get svc -n kube-system`

[2018-11-16 13:47] vanhumbeecka commented on #104
```gitkube version```: ```v0.3.0```
```kubectl get svc -n kube-system```:
[code]

[2018-11-16 13:54] tirumaraiselvan commented on #104
Looks like everything is fine. Can you send me the output of `kubectl get remote <remote-name> -o yaml` ?

[2018-11-16 14:05] vanhumbeecka commented on #104
sure.
[code]

[2018-11-16 14:07] vanhumbeecka commented on #104
Like the documenation said, I created some container repositories on AWS in advance, matching the naming convention specified, so ```default-myremote-default.www-www```

[2018-11-16 14:08] vanhumbeecka commented on #104
And here is the output of ```gitkube remote list```
[code]

[2018-11-16 14:15] tirumaraiselvan commented on #104
Okay. I think something is up with the controller. Can you check the statue of gitkube-controller pod?

`kubectl get pods -n kube-system`. Look for `gitkube-controller` and please post the statue and logs here.

[2018-11-16 14:33] vanhumbeecka commented on #104
anyway, thank you for looking into it. The problem is in the cluster itself, so my bad.

[2018-11-16 14:33] #104 closed

[2018-11-18 18:25] duyleekun opened #105 "Build docker image with ENV from Kube"
There's a shared ENV between build and running phase. Currently, I have to duplicate the ENV from kube manifest into Dockerfile. Is there any way to do that properly yet?

[2018-11-19 06:32] duyleekun commented on #105
Does current Remote object support ref to ConfigMap/Secret because I can't find it in the documents. Having ConfigMap/Secret ref-able from `Remote` would solve my use case.

[2018-11-19 06:34] tirumaraiselvan commented on #105
That's a great suggestion. Can you please open an issue for the same?

[2018-11-20 07:06] duyleekun opened #106 "Ensure BUILD_ROOT empty before actual check out during pre-receive"
For some reason, while executing pre-receive, my `BUILD_ROOT` dir isn't empty. My guess is that the hook doesn't always execute at the end `rm -rf $BUILD_ROOT` and the `git archive $DEPLOY_NEWREV | tar -x -C $BUILD_ROOT` doesn't perform any clean up.

[2018-11-20 07:12] #105 closed

[2018-11-20 07:12] duyleekun opened #107 "Support ref to ConfigMap/Secret for Remote object"
Use case: https://github.com/hasura/gitkube/issues/105

The behavior should be in sync with how `Deployment` handle `envFrom` and `env`

[2018-11-21 07:56] tirumaraiselvan commented on #106
Does this happen for each push? Does this happen even if you delete the pod (hence creating a new pod) ?

[2018-11-21 08:02] duyleekun commented on #106
Once it's not clean, subsequent failed push won't clear the file (it's failed because of that not deleted file)

I resolve it by exec into the gitkube pod directly and rm the directory. Next time, I will delete the pod instead

Although It's not directly related to this issue, but my guess about failure reason to `rm -rf $BUILD_ROOT`  is following error I got from time to time. Retry the push reso

[2018-12-22 02:55] davidmontgom opened #108 "gitkube service type ClusterIP cannot be accessed from outside cluster. If this was intended, add remote manually"
Whats the deal?

gitkube remote create -f remote.yaml
INFO[0001] remote myremote created
INFO[0001] waiting for remote url
FATA[0002] gitkube service type ClusterIP cannot be accessed from outside cluster. If this was intended, add remote manually

I am on aws eks....

Fix your tutorial so as not to waste other peoples time.

[2018-12-22 04:55] tirumaraiselvan commented on #108
@davidmontgom Like the error mentions, ClusterIPs are not intended to be used with gitkube because you cannot access them from outside the cluster. How will you do git push from your local dev if you don't have an accessible IP?

[2019-02-26 19:30] Kacppian commented on #77
Is this still open?

[2019-04-04 16:53] JonasJasas opened #112 "FATA[0000] gitkube service of type LoadBalancer has no available IP/hostnames"
Repeated all steps successfully of this [example](https://github.com/hasura/gitkube-example/tree/master/mono-repo) on fresh Kubernetes 1.14 install. After this:

[code]
getting this:
[code]
What I am missing?

[2019-05-09 13:42] yld opened #113 "Gitkube fails to build Docker images with latest EKS 1.12 AMI"
Bridge networking is disabled for security reasons.

See related issue https://github.com/awslabs/amazon-eks-ami/issues/183 for explanations.

Adding  `--enable-docker-bridge true ` as a node bootstrap argument solve the problem (see https://github.com/awslabs/amazon-eks-ami/issues/183).

Adding ` --network host` to Docker build command might be another solution.

[2019-05-14 15:13] yld commented on #112
Didn't you forget to [expose the service](https://github.com/hasura/gitkube#using-kubectl)

`kubectl --namespace kube-system expose deployment gitkubed --type=LoadBalancer --name=gitkubed`

[2019-08-02 19:27] rtarar opened #116 "Gitkube can't resolve Maven Repos"
This is a simple kafkaapp built on Micronaut using mvn as build.

I tried the wget wget https://jcenter.bintray.com/io/micronaut/micronaut-bom/1.1.4/micronaut-bom-1.1.4.pom from the gitkubd running on kibe-system and it works fine on the shell.

But when I do a remote push , the build does not succeed see logs below.

Using EKS  Rancher

Not sure what the issue is ? I installed Gitkube as per dire

[2019-10-18 19:08] rahulchheda commented on #76
@shahidhk Would need more content to contribute!

[2019-12-13 05:09] implicit-invocation opened #119 "npm install throws error"
[code]
My project is a simple create-react-app generated project.
When I do a `git push`, the remote failed at `npm install`.
[code]
If I remove `package-lock.json`, the error log is a little bit different
[code]

Is there anything wrong with the DNS?

[2019-12-13 05:17] hgiasac commented on #119
@implicit-invocation The issue is on your docker network. Docker bridge network sometimes can not connect internet. You can add flag `network=host` when running build

[2019-12-13 05:24] implicit-invocation commented on #119
@hgiasac how can I modify Docker build command with gitkube?

[2019-12-13 06:21] implicit-invocation commented on #119
No problem, I found the doc (https://github.com/hasura/gitkube/blob/f87df2471a99fbf28e70bc0a3cb572fe2894955f/docs/remote.md)
Thanks for your help @hgiasac

[2019-12-13 06:32] implicit-invocation commented on #119
My bad, it's just `--build-args`, I still don't know how to add `--network host` to the build command.

[2019-12-13 14:55] implicit-invocation commented on #119
it seems that there is no configuration for that so I modify [this file](https://github.com/hasura/gitkube/blob/master/build/gitkubed/pre_receive.sh#L196), build and push my own gitkubed to dockerhub and change the setup script to use my image.
`--network=host` fixed my problem.

[2019-12-13 14:55] #119 closed

[2019-12-24 11:42] rahuly1516 commented on #33
Hi, I have executed both command
1) kubectl create -f https://storage.googleapis.com/gitkube/gitkube-setup-stable.yaml
2) kubectl create -f https://storage.googleapis.com/gitkube/gitkube-setup-stable.yaml

but even after that I get error when I do gitkube --version
![image](https://user-images.githubusercontent.com/58551552/71411700-76d3b500-2670-11ea-8a2b-e6f9e8035e35.png)

Error message:
[ec2-us

[2019-12-24 14:06] rahuly1516 opened #120 "Git Command giving error after installing gitkube"
Hi, I have executed both command
1) kubectl create -f https://storage.googleapis.com/gitkube/gitkube-setup-stable.yaml
2) kubectl create -f https://storage.googleapis.com/gitkube/gitkube-setup-stable.yaml

but even after that I get error when I do gitkube --version
![image](https://user-images.githubusercontent.com/58551552/71411700-76d3b500-2670-11ea-8a2b-e6f9e8035e35.png)

Error message:
[ec2-us

[2020-01-27 18:42] easyenglishcoding commented on #33
Hello.
I just tried to install the gitkube, but I've got errors:

[code]

Let me know where I made mistake or just check it on microk8s.

Regards
Radek Kubiak

[2020-01-27 19:08] easyenglishcoding commented on #33
Finally I solved the problem by updating file gitkube-setup-stable.yaml to new k8s api.

Let's check my commit #121

root@goliat:~# kubectl create -f gitkube-setup-stable.yaml
customresourcedefinition.apiextensions.k8s.io/remotes.gitkube.sh created
serviceaccount/gitkube created
clusterrolebinding.rbac.authorization.k8s.io/gitkube created
configmap/gitkube-ci-conf created
deployment.apps/gitkubed

[2020-01-28 16:21] easyenglishcoding commented on #112
Hello,

I have the same problem. that LoadBalancer has no available IP/hostnames.
I have already exposed service with external IP.

I don't use cloud which can give IP automatically, but I have microk8s and one public IP (set manualy, by editing gitkubed and add externalIPs field).

Let's check:
[code]
I only changed the port of ssh service because 22 is used by my node (ssh server outside of k8s)

[2020-02-03 11:23] Richard87 opened #122 "Specify target to build in Dockerfile"
Hi!

In for example a nginx+php-fpm deployment, I'm using a multistage docker build

1. Compile javascript assets
2. create a nginx image with all files
3. install php depenencies
4. create a php-fpm image with all files
5. Update deployment with the new nxinx and php-fpm images

[2020-02-10 14:25] yld commented on #113
See https://github.com/awslabs/amazon-eks-ami/issues/183

[2020-02-23 01:17] sbussard commented on #33
Hi @easyenglishcoding can you explain how to apply your solution?

[2020-02-24 09:33] easyenglishcoding commented on #33
@sbussard
Hi, just check this link:
https://github.com/hasura/gitkube/pull/121/commits/416c8d708be79df3f504279d2ab671f634565a5d

[2020-03-29 01:27] sbussard opened #124 "It's too hard"
I don't know how else to put it - setting up gitkube is way too hard, please make it easier.

In the install guide
[code]
this yaml still causes errors, even though this seems to have been merged https://github.com/hasura/gitkube/commit/416c8d708be79df3f504279d2ab671f634565a5d

[code]
LoadBalancers cost at least $10/month. Those who are using gitkube are probably looking for low-cost options. I re

[2020-04-01 08:17] ChillarAnand opened #126 "Unable to deploy hasura example project"
When deploying hasura example - mono repo with k8s, git push is failing with

[code]

When creating myremote, I have used ~/.ssh/id_ras.pub and it wasn't changed. Not sure where gitkube is storing authorized keys and why it is failing to push changes.

[2020-04-01 08:52] srv-twry opened #127 ""ControlPath too long" on git push"
Hi,

I have been trying to setup `gitkube` for my application. The k8s cluster is running on AWS EKS. `Gitkubed` has been deployed as a `LoadBalancer`.

I've created the `remote.yaml` and configured the git remote. When I run `git push leadsvc master`, I get the following error:

[code]

Anyway to fix this? Where can I save space in order to fit it in the limit?

[2020-04-27 00:03] toresbe commented on #112
I also have Radek's issue. I install gitkube and create the remote using the standard kubectl commands in the tutorial. I've tried this:

`kubectl --namespace kube-system expose deployment gitkubed --type=LoadBalancer --name=gitkubed --external-ip=192.168.3.101`

But to no avail. After a while I ended up just giving up and reverting to building and pushing locally, which is a shame because gitkube

[2020-04-27 03:28] tirumaraiselvan commented on #112
You can also check for the git remote url using kubectl: `kubectl get remote myremote -o yaml` and look in the status section. See https://github.com/hasura/gitkube#deploying-application

[2020-04-27 08:52] toresbe commented on #112
Thank you for the reply. I did do this, but `kubectl | grep Url` - I do not have the exact string handy but the error message was indeed `gitkube service of type LoadBalancer has no available IP/hostnames`.

[2020-06-10 00:14] rschwabco opened #128 "Unable to push to repo (ssh issue?)"
After following the setup instructions:
[code]

I've set this repo up:

[code]

For
[code]

I get
[code]

I then set up the remote:
[code]

When I push, it failes with
[code]

What could possibly be going wrong?

[2020-06-12 10:49] shahidhk commented on #128
Can you edit the SSH key to remove the quotes?
[code]

should be
[code]
on a single line

[2020-06-12 10:50] shahidhk commented on #128
I you wanna do multiline, use
[code]
Indentation is important

[2020-06-14 08:55] KateGo520 opened #129 "Errors will happen when upgrading the library"
(The purpose of this report is to alert `hasura/gitkube` to the possible problems when `hasura/gitkube` try to upgrade the following dependencies)

## An error will happen when upgrading library _spf13/cobra_:

### github.com/spf13/cobra
-Version: v1.0.0   (Latest commit a684a6d on 11 Apr)
-Where did you use it:
https://github.com/hasura/gitkube/search?q=spf13%2Fcobra&unscoped_q=spf13%2Fcobra
-Det

[2020-06-18 03:26] KateGo520 commented on #129
@tirumaraiselvan  @goostleek   Could you help me review this issue? Thx :p

[2020-06-21 06:48] KateGo520 commented on #129
@shahidhk  @tirumaraiselvan    Could you help me review this issue? Thx :p
By the way, have you ever encountered such errors when upgading the libraries?

[2020-09-19 09:40] platy commented on #128
I had the same issue, it wasn't anything wrong in the yaml. It turned out that gitkubed is not refreshed when adding or changing remotes, so if you add an authorized key you need to restart gitkubed before you can connect.

[2020-09-19 09:41] platy commented on #126
I had the same issue, it was fixed by restarting the gitkubed deployment after adding the remote. gitkubed doesn't pick up changes after it starts

[2020-09-26 22:04] kzuri commented on #75
Hello @shahidhk @tirumaraiselvan !
Can I have this issue?

[2021-01-23 17:10] shmox75 commented on #112
Any news about this issue ?

[2021-03-17 19:24] alimoezzi commented on #126
My issue also fixed by just restarting the `gitkube` deployment.
gitkube logs looks like this
[code]
It really doesn't get updated after a new remote is deployed

[2021-10-05 11:51] jpc commented on #127
You can add `ControlPath ~/.ssh/%C` in your `.ssh/config` which will use a hash instead of the full connection information. A small downside is that the control socket names are gibberish but the upside is that the length is fixed so you won't run into the path length problem.

[2021-10-21 03:40] davidylee commented on #76
Hi, I'm interested in contributing but would like to receive more information about the issue!